<div class="container">

    <div *ngIf="title">
        <a class="mr-1 text-dark">{{title}}</a>
        <a (click)="logout()" class="text-primary">(Logout)</a>
    </div>

  

    <section class="tabela">
        <h2 class="text-center">Pessoas</h2>
        <div class="row max-size">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Naturalidade</th>
                        <th scope="col">Nacionalidade</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Data Nasc.</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of this.pessoas">
                        <td>{{p.nome}}</td>
                        <td>{{p.email}}</td>
                        <td>{{p.cpf}}</td>
                        <td>{{p.naturalidade}}</td>
                        <td>{{p.nacionalidade}}</td>
                        <td>{{p.sexo}}</td>
                        <td>{{this.formatDate(p.dataNascimento)}}</td>
                        <td>
                            <span (click)='editar(p)'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square"
                                    class="text-primary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </span>
                            <span (click)='deletar(p)'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="text-danger">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </section>


    <section class="cadastro">
        <h2 class="text-center">Cadastro de Pessoas</h2>

        <div class="alert {{classM}} alert-dismissible fade show" role="alert" *ngIf='mostrarMsg' >
            <strong>Mensagem!</strong> {{mensagem}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        <form [formGroup]='pessoaForm' (submit)='salvar()'>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" formControlName="email" class="form-control">
                    <ap-vmessage *ngIf="pessoaForm.get('email').errors?.email" text="Email Inválido!"></ap-vmessage>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Sexo</label>
                    <select id="inputState" formControlName="sexo" class="form-control">
                        <option selected>FEMININO</option>
                        <option>MASCULINO</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nome</label>
                    <input type="email" formControlName="nome" class="form-control">

                    <ap-vmessage *ngIf="pessoaForm.get('nome').errors?.required" text="Nome obrigatório!"></ap-vmessage>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">CPF</label>
                    <input type="text" formControlName="cpf" class="form-control">
                    <ap-vmessage *ngIf="pessoaForm.get('cpf').errors?.validacaCpf" text="CPF inválido!"></ap-vmessage>
                    <ap-vmessage *ngIf="pessoaForm.get('cpf').errors?.required" text="CPF obrigatório!"></ap-vmessage>
                    <ap-vmessage *ngIf="cpfExistente" text="CPF já cadastrado!"></ap-vmessage>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Naturalidade</label>
                    <input type="text" formControlName="naturalidade" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Nacionalidade</label>
                    <input type="text" formControlName="nacionalidade" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Senha</label>
                    <input type="password" class="form-control" formControlName="senha">
                    <ap-vmessage *ngIf="pessoaForm.get('senha').errors?.required"
                    text="Senha obrigatória "></ap-vmessage>
                </div>

                <div class="form-group col-md-6">
                    <label for="inputEmail4">Data de Nascimento</label>
                    <input type="text" class="form-control" formControlName="dataNascimento" placeholder="01/01/1996">
                    <ap-vmessage *ngIf="pessoaForm.get('dataNascimento').errors?.required"
                        text="Data de Nascimento obrigatório "></ap-vmessage>
                    <ap-vmessage *ngIf="pessoaForm.get('dataNascimento').errors?.pattern"
                        text="Formato invalido! Ex:(01/01/1990) "></ap-vmessage>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="pessoaForm.invalid">Salvar</button>
        </form>
    </section>





</div>
<ng-chat [adapter]="adapter" [userId]="userId"></ng-chat>