<div class="container"> 
    <h3 class=" text-center ">Links</h3>

    <div class="alert alert-warning" role="alert">
        <a href="https://github.com/tacila1/testeSqudra"> Link do Git </a>
      </div>
      <div class="alert alert-dark" role="alert">
        <a href="https://hub.docker.com/repository/docker/tacila/frontend"> Link Docker Hub front</a>
      </div>
      <div class="alert alert-success" role="alert">
        <a href="https://hub.docker.com/repository/docker/tacila/backend"> Link Docker Hub Back </a>
      </div>


</div>